body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  position: relative; /* Position relative for the winning line */
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #f0f0f0;
  cursor: pointer;
  border: 1px solid #000;
}

.cell:hover {
  background-color: #e0e0e0;
}

#status {
  margin-top: 20px;
  font-size: 20px;
  z-index: 2;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
}

.winning-line {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
.winning-cell {
  background-color: #ccc;
  border-radius: 10px;
  z-index: 2;
}
